.btn {
	border-radius: 30px !important;
	background-color: #dc6767;
	text-transform: capitalize !important;
	padding: 8px 45px;
	font-size: 16px !important;
	margin: 10px 0 0 0 !important;
}

.btn-icon {
	margin: 0 0 3px 1px !important;
}
