@import "config";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html {
	height: 100%;
}

body {
	background-color: $bgcolor;
	// font-family: ;
	line-height: 1.6;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $gray;
	line-height: 160%;
}

.logo {
	display: flex;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: right;
	a {
		margin: 0 10px;
	}
}

p {
	margin: 7px 0 0 0;
	line-height: 140%;
}

a {
	text-decoration: none;
	color: $main-color;
}

a:hover {
	color: $sub-color;
}

.home-wrap {
	width: 1000px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	.logo-home {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.home-card {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.shop-card {
		display: flex;
		margin: 10px;
		width: 300px;
	}

	.card {
		background-color: #fff;
		padding: 20px;
		margin: 10px 0;
		border-radius: $curve;

		img {
			height: 200px;
			width: 100%;
			border-radius: $curve;
		}
	}
}

.main-wrap {
	width: 900px;
	display: flex;
	// align-items: center;
	// justify-content: center;
	min-height: 100vh;

	.col1 {
		background-color: white;
		// height: 100vh;
		width: 350px;
		flex-direction: column;
		margin-right: 40px;
		padding: 20px 40px 40px 40px;

		img {
			margin: 10px 0;
		}
	}

	.col2 {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: 10px 0 0 0;
		width: 100%;
		min-height: 100vh;

		.search-form {
			margin: 0;
			display: flex;
			flex: 1;

			.search {
				display: flex;
				flex: 1 25px;
				border: none;
				padding: 10px 10px 10px 10px;
				border-radius: 30px;
			}

			input:focus {
				outline: none;
			}

			.search-icon {
				margin: 0 0 2px -35px !important;
				padding: 5px;
			}
		}

		.nav-bar {
			display: flex;
			align-items: center;
			margin-left: 40px;
			justify-content: right;
			// text-align: right;
		}

		.sort {
			margin: 15px 0 10px 0 !important;
		}

		.post {
			background-color: #fff;
			padding: 30px;
			margin: 10px 0;
			border-radius: $curve;

			.user-profile-post {
				display: flex;
				align-items: center;
			}

			.user-details-post {
				display: flex;
				flex-direction: column;

				margin-left: 20px;
				p {
					margin: 0;
					line-height: 110%;
				}
			}

			.post-content {
				margin: 10px 0;
				p {
					margin: 25px 0;
					line-height: 160%;
				}
			}
		}
		.footer {
			display: flex;
			justify-content: flex-end;
			align-self: flex-end;
		}
	}

	.right {
		text-align: right;
	}

	.img {
		height: 120px;
		width: 150px;
		border-radius: $curve;
	}
}

.shop-banner {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: auto;
	margin-top: 10px;

	img {
		height: 220px;
		width: 250px;
		border-radius: $curve;
	}

	.btn {
		width: 100% !important;
	}
	.shop-details {
		//margin-top: auto;
		display: flex;
		flex-direction: column;
		//flex-grow: 1;
		flex-basis: 100%;
		width: auto;
	}

	.shop-button {
		// position: relative;
		// display: flex;
		// flex-direction: column;
		// align-self: flex-end;
		// align-items: flex-end;
		display: block;
		position: absolute;
		bottom: 20px;
		width: auto;
		padding: 8px 0px !important;
	}
}

.row {
	display: flex;
	width: 100%;
	margin: $gap 0;
}

.review-form {
	display: flex;
	position: relative;
	width: 100%;
	height: 100px;
	//flex-basis: 100%;
	background-color: #fff;
	border-radius: $curve;
	padding: 20px;

	.col {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
	}

	.star-rating {
		height: 20px;
	}

	form {
		display: flex;
		width: 100%;
	}

	input {
		display: flex;
		border: none;
		// width: 100%;
	}

	.img-preview-wrap {
		flex: 1 1 auto;
		height: 70px;
		width: 400px;
		display: flex;
		flex-direction: row;
	}

	input[type="file"] {
		/* position: absolute;
		left: -99999rem; */
		//opacity: 0;
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap; /* 1 */
		clip-path: inset(50%);
		border: 0;
	}

	.file-upload {
		// border: 1px solid #ccc;
		// display: inline-block;
		// padding: 6px;
		// cursor: pointer;
		height: 45px;
		width: 55px;
		display: flex;

		// border-radius: 60px;
		// z-index: 1;
	}

	.file-upload-btn {
		border: none;
		display: inline-block;
		cursor: pointer;
		z-index: 10;
	}

	.img-preview {
		display: inline-block;
		width: 100px;
		border-radius: 8px;
		margin-left: 20px;
	}

	textarea {
		display: flex;
		border: none;
		padding: 10px 0 0px;
		//height: 40px;
		// width: 100%;
	}

	input:focus {
		outline: none;
	}

	.btn {
		// width: 100% !important;
		position: absolute;
		background-color: #dc6767;
		right: 15px;
		bottom: 15px;
	}

	.clear {
		background-color: #6aa0c7;
		position: absolute;
		right: 200px;
	}
}

.button-icon {
	border-radius: 30px;
	display: flex;
	align-items: center;
	background-color: #6aa0c7;
	cursor: pointer;
}

.bg-color-sub {
	background-color: $sub-color !important;
}

.MuiAvatar-root {
	width: 50px !important;
	height: 50px !important;
}
